.DS_Store
./mac-app

*.secret

build/
target/

*.png
*.jpg

**/tags

*.bin
*.eep
*.sizeok

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

config.log
config.status
autom4te.cache
aclocal.m4
build-aux/

packrat/lib*/
packrat/src*/
.Rhistory
.DS_Store
.Rproj.user
.Rproj
.Rapp.history
.RData
.Ruserdata
.Rapp.history
Rplots.pdf

.Rd2pdf*/

inst/doc
Meta

*.fasl

package-lock.json
node_modules
.env
dist/
.well-known/

*.xz
*.gz
*.zpaq
*.datatable
*.RData
*.rda

.shastore
